In [2]:
local_dir = '/home/neilor/scielo_db/dados'
connect_cmd = "dbname='scielo_db' user='neilor' host='localhost' password='n1f2c3n1'"
%load_ext sql
%sql postgresql://neilor:n1f2c3n1@/scielo_db

'Connected: neilor@scielo_db'

In [5]:
query_create_table_estudo_v1 ="""
drop table if exists alacip.estudo_v1;
create table alacip.estudo_v1
(
    scielo_id varchar, 
    periodico_classe varchar, 
    periodico_issn_scielo varchar, 
    periodico_ano varchar, 
    periodico_ano_capes varchar, 
    periodico_ano_capes_periodo varchar, 
    periodico_cod varchar, 
    periodico_sigla varchar, 
    periodico_qualis_na_cp varchar, 
    periodico_area varchar, 

    periodico_instituicao varchar, 
    periodico_sigla_instituicao varchar, 
    periodico_cidade_da_instituicao varchar, 
    
    n_autores varchar, 
    n_autores_descricao varchar,     
 
    acessos_ao_html varchar, 
    acessos_ao_pdf varchar, 
    area_tematica varchar, 
    titulo varchar, 
    
    palavra_chave1 varchar,
    palavra_chave2 varchar,
    palavra_chave3 varchar,
    palavra_chave4 varchar,
    palavra_chave5 varchar,   
    
    bolsistas_pq varchar, 
    empirico varchar,
    
    autor_1_nome varchar,
    autor_1_PQ  varchar,
    autor_1_vinculo_institucional varchar,
    autor_1_sexo varchar,
    autor_1_docente varchar,

    autor_2_nome varchar,
    autor_2_PQ  varchar,
    autor_2_vinculo_institucional varchar,
    autor_2_sexo varchar,
    autor_2_docente varchar,

    autor_3_nome varchar,
    autor_3_PQ  varchar,
    autor_3_vinculo_institucional varchar,
    autor_3_sexo varchar,
    autor_3_docente varchar,

    autor_4_nome varchar,
    autor_4_PQ  varchar,
    autor_4_vinculo_institucional varchar,
    autor_4_sexo varchar,
    autor_4_docente varchar,

    autor_5_nome varchar,
    autor_5_PQ  varchar,
    autor_5_vinculo_institucional varchar,
    autor_5_sexo varchar,
    autor_5_docente varchar,

    autor_6_nome varchar,
    autor_6_PQ  varchar,
    autor_6_vinculo_institucional varchar,
    autor_6_sexo varchar,
    autor_6_docente varchar,

    autor_7_nome varchar,
    autor_7_PQ  varchar,
    autor_7_vinculo_institucional varchar,
    autor_7_sexo varchar,
    autor_7_docente varchar,

    autor_8_nome varchar,
    autor_8_PQ  varchar,
    autor_8_vinculo_institucional varchar,
    autor_8_sexo varchar,
    autor_8_docente varchar,

    autor_9_nome varchar,
    autor_9_PQ  varchar,
    autor_9_vinculo_institucional varchar,
    autor_9_sexo varchar,
    autor_9_docente varchar,

    autor_10_nome varchar,
    autor_10_PQ  varchar,
    autor_10_vinculo_institucional varchar,
    autor_10_sexo varchar,
    
    resumo varchar


);
"""
    
%sql {query_create_table_estudo_v1}

Done.
Done.

[]

In [21]:
query_populate_estudo_v1 = """
insert into alacip.estudo_v1 
select
art.periodico_classe    as    periodico_classe,
art.scielo_id    as    scielo_id,
art.periodico_issn_scielo        as    periodico_issn_scielo,
art.ano    as    ano,
''                as    ano_capes,
''                as    ano_capes_periodo,
art.periodico_issn_scielo      as    periodico_cod,
art.periodico_sigla        as    periodico_sigla,
art.periodico_qualis_cp        as    qualis_do_periodico_na_cp,
art.periodico_area        as    area_do_periodico,
art.document_authors        as    n_autores,
''                as    n_autores_descricao,
art.periodico_cod_instituicao    as    instituicao_do_periodico,
art.periodico_instituicao        as    instituicao_do_periodico_sigla,
art.periodico_cidade_da_instituicao    as    cidade_da_instituicao_do_periodico,
''                as    instituicao_do_autor,
''                as    cidade_da_instituicao_do_autor,
''                as    acessos_ao_html,
''                as    acessos_ao_pdf,
''                as    area_tematica_do_artigo,
''                as    titulo_do_artigo,
''                as    palavras_chave,
''                as    resumo,
''                as    bolsistas_pq,
''                as    empirico_nao_empirico
from alacip.artigos as art
;
"""

%sql {query_populate_estudo_v1}

(psycopg2.ProgrammingError) column art.periodico_sigla does not exist
LINE 10: art.periodico_sigla        as    periodico_sigla,
         ^
 [SQL: "insert into alacip.estudo_v1 \nselect\nart.periodico_classe    as    periodico_classe,\nart.artigo_scielo_id    as    artigo_scielo_id,\nart.periodico_issn_scielo        as    periodico_issn_scielo,\nart.artigo_ano    as    ano,\n''                as    ano_capes,\n''                as    ano_capes_periodo,\nart.periodico_issn_scielo      as    periodico_cod,\nart.periodico_sigla        as    periodico_sigla,\nart.periodico_qualis_cp        as    qualis_do_periodico_na_cp,\nart.periodico_area        as    area_do_periodico,\nart.document_authors        as    n_autores,\n''                as    n_autores_descricao,\nart.periodico_cod_instituicao    as    instituicao_do_periodico,\nart.periodico_instituicao        as    instituicao_do_periodico_sigla,\nart.periodico_cidade_da_instituicao    as    cidade_da_instituicao_do_periodico,\n''                as    instituicao_do_autor,\n''                as    cidade_da_instituicao_do_autor,\n''                as    acessos_ao_html,\n''                as    acessos_ao_pdf,\n''                as    area_tematica_do_artigo,\n''                as    titulo_do_artigo,\n''                as    palavras_chave,\n''                as    resumo,\n''                as    bolsistas_pq,\n''                as    empirico_nao_empirico\nfrom alacip.artigos as art\n;"]

In [ ]:
query_update_ano_capes = """
update alacip.estudo_v1
set ano_capes =
  CASE WHEN ano in ('2013','2014','2015','2016') THEN '1'
       WHEN ano in ('2010','2011','2012') THEN '2'
       WHEN ano in ('2007','2008','2009') THEN '3' 
       WHEN ano in ('2004','2005','2006') THEN '4'
       WHEN ano in ('2001','2002','2003') THEN '5'
       WHEN ano in ('1998','1999','2000') THEN '6'  
       WHEN ano in ('1995','1996','1997') THEN '7'  
  END
;
"""

%sql {query_update_ano_capes}

query_update_ano_capes_periodo = """
update alacip.estudo_v1
set ano_capes_periodo =
  CASE WHEN ano in ('2013','2014','2015','2016') THEN '2013,2014,2015,2016'
       WHEN ano in ('2010','2011','2012') THEN '2010,2011,2012'
       WHEN ano in ('2007','2008','2009') THEN '2007,2008,2009' 
       WHEN ano in ('2004','2005','2006') THEN '2004,2005,2006'
       WHEN ano in ('2001','2002','2003') THEN '2001,2002,2003'
       WHEN ano in ('1998','1999','2000') THEN '1998,1999,2000'  
       WHEN ano in ('1995','1996','1997') THEN '1995,1996,1997'  
  END
;
"""

%sql {query_update_ano_capes_periodo}

In [ ]:
query_update_n_autores_descricao = """
update alacip.estudo_v1
set n_autores_descricao =
  CASE WHEN n_autores like '1' THEN 'um autor'
       WHEN n_autores like '2' THEN 'dois autores' 
       WHEN n_autores like '3' THEN 'trÃªs autores'
       WHEN n_autores like '4' THEN 'quatro autores'
       WHEN n_autores like '5' THEN 'cinco autores'
       WHEN n_autores like '6' THEN 'seis autores'
       WHEN n_autores like '7' THEN 'sete autores'
       WHEN n_autores like '8' THEN 'oito autores'
       WHEN n_autores like '9' THEN 'nove autores'
       WHEN n_autores like '10' THEN 'dez autores'
       WHEN n_autores like ''  THEN 'nÃ£o definido'
       WHEN n_autores like ' '  THEN 'nÃ£o definido'
       WHEN n_autores like '0'  THEN 'nÃ£o definido'
       ELSE 'mais de dez autores'
  END
;
"""

%sql{query_update_n_autores_descricao}

In [ ]:
import pandas as pd
import psycopg2 as pg


    
query_autores = """
 SELECT  
         document_publishing_id_scielo,
         document_author,
         document_author_institution,
         document_author_affiliation_country,
         document_author_affiliation_state,
         document_author_affiliation_city
  FROM public.documents_authors
  where document_publishing_id_scielo in (select document_publishing_id_scielo from alacip.artigos)
  order by document_publishing_id_scielo, document_author asc
  ;
  """
try:
    conn = pg.connect(connect_cmd)
    df = pd.read_sql(query_autores,conn)
    conn.close()
except:
    print ("I am unable to connect to the database")

In [ ]:
#df1 = df.set_index('publishing_id_scielo')
def print_groups(groupobjects):
    for name, group in groupobjects:
        print(name)
        print(group)
       
df2=df.groupby(['document_publishing_id_scielo'])

#print_groups(df2)
for i in df2['document_author']:
    print(i)

In [ ]:
# http://www.scielo.br/scieloOrg/php/articleXML.php?pid=S0104-62762016000100028

In [21]:
  
import wgetter
import time
import os
import pandas as pd
import psycopg2 as pg

In [ ]:
query_create_table_alacip = """
drop table if exists alacip.estudo;
create table alacip.estudo
(
issn_scielo varchar,

ano varchar, -- (o ano do volume onde o artigo foi publicado)
ano_capes varchar, -- (quadriÃªnio/triÃªnio se refere o artigo)
            -- 1. 2013-2014-2015-2016
            -- 2. 2010-2011-2012
            -- 3. 2007-2008-2009
            -- 4. 2004-2005-2006
            -- 5. 2001-2002-2003
            -- 6. 1998-1999-2000
            -- 7. 1995-1996-1997
            -- 2. PeriÃ³dico
periodico_objeto varchar,
            -- 1. OP
            -- 2. Dados
            -- 3. RBPI
            -- 4. BPSR
            -- 5. RevSocP
            -- 6. Lua Nova
            -- 7. Contexto Internacional

periodico_controle varchar,
            -- 8. Mana 
            -- 9. Tempo Social 
            -- 10. RBH 
            -- 11. RBE 
            -- 12. Trans/form/aÃ§Ã£o 
            -- 13. Genetics and Molecular Biology 

qualis_do_periodico_na_cp varchar,
            -- 1. A1 = OP, Dados, RBPI
            -- 2. A2 = BPSR, RevSocP, Lua Nova, Contexto Internacional 
            -- 3. B1 = Mana, Tempo Social, RBH, RBE, Trans/form/aÃ§Ã£o 
            -- 4. sem Qualis = Genetics and Molecular Biology 

area_do_periodico varchar, 
            -- 1. CP mainstream (BPSR, OP), 
            -- 2. CiÃªncia PolÃ­tica nÃ£o mainstream (Dados, RevSocP, RBCP, Lua Nova), 
            -- 3. RI (RBPI, Contexto Internacional)
            -- 4. Antropologia (Mana)
            -- 5. Sociologia (Tempo Social)
            -- 6. HistÃ³ria (RBH)
            -- 7. Economia (RBE)
            -- 8. Filosofia (Trans/form/aÃ§Ã£o)
            -- 9. GenÃ©tica (Genetics and Molecular Biology)

n_autores varchar,  --(o nÃºmero de autores por artigo, depois codificamos ou usar esse cÃ³digo)
            -- 1. um autor
            -- 2. dois autores
            -- 3. trÃªs autores
            -- 4. quatro autores
            -- 5. cinco autores
            -- 6. seis autores
            -- 7. sete autores
            -- 8. oito autores
            -- 9. nove autores
            -- 10. dez autores
            -- 11. mais de dez autores

instituicao_do_periodico varchar, 
            -- 1. Unicamp (OP)
            -- 2. IESP (Dados)
            -- 3. IBRI (RBPI)
            -- 4. ABCP (BPSR)
            -- 5. UFPR (RevSocP)
            -- 6. CEDEC (Lua Nova)
            -- 7. PUC-Rio (Contexto Internacional)
            -- 8. UFRJ (Mana)
            -- 9. USP (Tempo Social)
            -- 10. ANPUH (RBH)
            -- 11. FGV-RJ (RBE) 
            -- 12. Unesp (Trans/form/aÃ§Ã£o)
            -- 13. Sociedade Brasileira de GenÃ©tica (Genetics and Molecular Biology)

cidade_da_instituicao_do_periodico varchar,
            -- 1. Campinas (OP)
            -- 2. Rio de Janeiro (Dados, Mana, RBE, Contexto Internacional)
            -- 3. BrasÃ­lia (RBPI)
            -- 4. SÃ£o Paulo (BPSR, Tempo Social, Lua Nova, RBH)
            -- 5. Curitiba (RevSocP)
            -- 6. MarÃ­lia (Trans/form/aÃ§Ã£o) 
            -- 7. RibeirÃ£o Preto (Genetics and Molecular Biology)

instituicao_do_autor varchar, -- (a instituiÃ§Ã£o dos autores; depois categorizamos)

cidade_da_instituicao_do_autor varchar, -- (a cidade instituiÃ§Ã£o dos autores; depois categorizamos)

acessos_ao_html varchar, -- (n de acessos do artigo; depois categorizamos)
acessos_ao_pdf varchar,  -- (n de acessos do artigo; depois categorizamos)

area_tematica_do_artigo varchar, --(automatizada) (coletar as informaÃ§Ãµes abaixo e depois calcular com ARS)
titulo_do_artigo varchar,
palavras_chave varchar,
resumo varchar, 
/*--
    8. Bolsistas PQ (EU ENVIAREI A LISTA)
    8.1. Faixa da bolsa (1A, 1B, 1C...)
    8.2. Produtividade dos bolsistas-produtividade (clacular)
--*/
empirico_nao_empirico varchar -- (tem ou nÃ£o figura?)
            -- 1. empÃ­rico
            -- 2. nÃ£o empÃ­rico
);
"""

import psycopg2 as pg
try:
    conn = pg.connect(connect_cmd)
except:
    print ("I am unable to connect to the database")

cur = conn.cursor()
try:
    cur.execute(query_create_table_alacip)
    conn.commit()
    print('a tabela foi criada')
except:
    print("erro")
    conn.rollback()
conn.close()

In [ ]:
# cria tabela com dados dos periodicos selecionados

## cria uma tabela alacip.artigos com todos artigos selecionados para o paper alacip

In [ ]:
query_total = """
SELECT 
  a.document_issn_scielo AS issn_scielo, 
  a.document_publishing_id_scielo AS id_scielo, 
  documents_authors.document_publishing_year as ano,
  CASE WHEN a.document_publishing_year in ('2013','2014','2015','2016') THEN '1'
       WHEN a.document_publishing_year in ('2010','2011','2012') THEN '2'
       WHEN a.document_publishing_year in ('2007','2008','2009') THEN '3' 
       WHEN a.document_publishing_year in ('2004','2005','2006') THEN '4'
       WHEN a.document_publishing_year in ('2001','2002','2003') THEN '5'
       WHEN a.document_publishing_year in ('1998','1999','2000') THEN '6'  
       WHEN a.document_publishing_year in ('1995','1996','1997') THEN '7'  
  END AS ano_capes,

  a.periodico_objeto ,
  
case
-- OBJETO
-- when document_issn_scielo like '0103-3352' then '?' -- Revista Brasileira de CiÃªncia PolÃ­tica
when document_issn_scielo like '0104-6276' then '1' -- OpiniÃ£o PÃºblica
when document_issn_scielo like '0011-5258' then '2' -- Dados
when document_issn_scielo like '0034-7329' then '3' -- Revista Brasileira de PolÃ­tica Internacional
when document_issn_scielo like '1981-3821' then '4' -- Brazilian Political Science Review
when document_issn_scielo like '0104-4478' then '5' -- Revista de Sociologia e PolÃ­tica
when document_issn_scielo like '0102-6445' then '6' -- Lua Nova: Revista de Cultura e PolÃ­tica
when document_issn_scielo like '0102-8529' then '7' -- Contexto Internacional

-- CONTROLE

when document_issn_scielo like '0104-9313' then '8' -- Mana
when document_issn_scielo like '0103-2070' then '9' -- Tempo Social
when document_issn_scielo like '0102-0188' then '10' -- Revista Brasileira de HistÃ³ria
when document_issn_scielo like '0034-7140' then '11' -- Revista Brasileira de Economia
when document_issn_scielo like '0101-3173' then '12' -- Trans/Form/AÃ§Ã£o
when document_issn_scielo like '1415-4757' then '13' -- Genetics and Molecular Biology
end


  
FROM 
  alacip.artigos as a
;
"""

%sql {query_total}